streamlit==1.35.0
chromadb==0.4.24
numpy==1.24.4
scikit-learn
pdfplumber
pytesseract
Pillow
PyMuPDF
transformers==4.41.0
setuptools>=67.0
sentence-transformers @ https://github.com/AjayBhatnagar1712/fixed-sentence-transformers/archive/refs/heads/main.zip
