streamlit==1.35.0
chromadb==0.4.24
numpy==1.24.4
scikit-learn
pdfplumber
pytesseract
Pillow
PyMuPDF
transformers==4.40.1
sentence-transformers @ https://github.com/Ajay1007/fixed-sentence-transformers/archive/refs/heads/main.zip
